# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\MyWorksSpace\First_Socket_Programming\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
